<html>

<head>
    <title>Tela com minhas configurações</title>
</head>

<body>
    <h1>Minhas configurações</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <div>
            <label><input type="text" maxlength="30" name="login" />Seu nome, motherfucker</label>
        </div>
        <div>
            <label><input type="text" maxlength="30" name="password" />Sua senha, motherfucker</label>
        </div>
        <div>
            <button type="submit">Submeter formulário</button>
        </div>
    </form>


</body>

</html>